<div class="container">
<h1 class= "center #42a5f5 blue lighten-1">Edit Recipe</h1>
<br>
<div class="#ffffff white">
<%= form_for @recipe do |f| %>
  <div class="center">
   <%= f.label :title, :style=>"color:black; font-size:17px;" %>
   <%= f.text_field :title %>
 </div>
 <div class="center">
    <%= f.label :img, :style=>"color:black; font-size:17px;" %>
    <%=f.text_field :img %>
  </div>
 <div class="center">
   <%= f.label :description, :style=>"color:black; font-size:17px;" %>
   <%= f.text_area :description %>
 </div>
 <div class="center">
   <button class="waves-effect waves-light #42a5f5 blue lighten-1"><%= f.label :made_it_yet, :style=>"color:black; font-size:17px;" %></button>
   <%= f.check_box :made_it_yet %>
 </div>
 <div class="center">
    <%= f.label :directions, :style=>"color:black; font-size:17px;" %>
    <%= f.text_area :directions %>
</div>
 <div class="center"><button class="waves-effect waves-light #42a5f5 blue lighten-1"><%= f.submit "Submit"%></button></div>
<% end %>
</div>
</div>
<br><br>
<div class="center"><button class="waves-effect waves-light #ffffff white"><%= link_to "Back to all recipes", recipes_path %></button></div>
<br>