<body>
<div class="container">
<h1 class="center col s12; #42a5f5 blue lighten-1">Recipe Saver</h1>

<div class="center"><button class="waves-effect waves-light #ffffff white"><%= link_to "Add a New Recipe", new_recipe_path %></button></div>
<br><br>
<table class="striped #42a5f5 blue lighten-1">
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Description</th>
    <th>Made it yet?</th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><button class="waves-effect waves-light #ffffff white" style="width:100%"><%= link_to recipe.title, recipe %></td></button>
      <td><img style='width: 100px; height 100px;' src =<%= recipe.img %> /></td>
      <td><%= recipe.description %></td>
      <td><%= recipe.made_it_yet %></td>
    </tr>
  <% end %>
</table>
</div>
<br><br>
</body>