<div class="container">
<h1 class= "center teal lighten-2">New Recipe</h1>
<br>
<div class="#ffffff white">
<%= form_for @recipe do |f| %>
  <div class="center">
    <%= f.label :title, :style=>"color:black; font-size:17px;" %>
    <%= f.text_field :title %>
  </div>
  <div class="center">
    <%= f.label :img, :style=>"color:black; font-size:17px;" %>
    <%=f.text_field :img %>
  </div>
  <div class="center">
    <%= f.label :description, :style=>"color:black; font-size:17px;" %>
    <%= f.text_area :description %>
  </div>
  <div class="center">
   <%= f.label :made_it_yet, :style=>"color:black; font-size:17px;" %><br>
   <%= f.radio_button :made_it_yet, true%>
   <%= f.label :made_it_yet, "Yes", :value => "true", :style=>"color:black;"  %>
   <%= f.radio_button :made_it_yet, false, :checked => true%>
   <%= f.label :made_it_yet, "No",:value => "false", :style=>"color:black;" %>
   <!-- Source:http://stackoverflow.com/questions/15060268/how-to-use-radio-button-correctly-in-rails -->
  </div>
  <div class="center">
    <%= f.label :directions, :style=>"color:black; font-size:17px;" %>
    <%= f.text_area :directions %>
</div>
  <div class="center"><button class="waves-effect waves-light teal lighten-2"><%= f.submit "Submit" %></button></div>
<% end %>
</div>
</div>
<br><br>
<div class="center"><button class="waves-effect waves-light #ffffff white"><%= link_to "Back to all recipes", recipes_path, :style=>"color:teal;" %></button></div>
<br>