<div class="container">
<h2 class= "center teal lighten-2">New Ingredient</h2>
<br>
<div class="#ffffff white">
<%= form_for @ingredient do |f| %>
<div class="center">
    <%= f.hidden_field :recipe_id, :value => params[:recipe_id] %>
</div>
<div class="center">
    <%= f.label :name, :style=>"color:black; font-size:17px;" %>
    <%= f.text_field :name %>
</div>
<div class="center">
    <%= f.label :amount, :style=>"color:black; font-size:17px;" %>
    <%= f.text_field :amount %>
</div>
<div class="center">
    <%= f.label :measurement, :style=>"color:black; font-size:17px;" %>
    <%= f.text_field :measurement %>
</div>
<div class="center">
    <%= f.label :is_available, :style=>"color:black; font-size:17px;" %><br>
   	<%= f.radio_button :is_available, true%>
   	<%= f.label :is_available, "Yes", :value => "true", :style=>"color:black;"  %>
   	<%= f.radio_button :is_available, false, :checked => true%>
   	<%= f.label :is_available, "No",:value => "false", :style=>"color:black;" %>
</div>
<br><br>
<div class="center"><button class="waves-effect waves-light teal lighten-2"><%= f.submit "Submit" %></button></div>
<br><br>
<% end %>
</div>
</div>
<br><br>
<div class="center"><button class="waves-effect waves-light #ffffff white"><%= link_to "Back to all recipes", recipes_path, :style=>"color:teal;" %></button></div>
<br>