<!DOCTYPE html>
<html>
  <head>
    <title>Recipestoo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "background-color: rgba(256,192,0,1);
  background-image:
    linear-gradient(90deg, 
      rgba(255,255,255,0.5) 0%,
      rgba(255,255,255,0.5) 10%,
      rgba(255,255,255,0) 10%,
      rgba(255,255,255,0) 20%,
      rgba(255,255,255,0.5) 20%,
      rgba(255,255,255,0.5) 30%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0.5) 40%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 50%,
      rgba(255,255,255,0) 60%,
      rgba(255,255,255,0.5) 60%,
      rgba(255,255,255,0.5) 70%,
      rgba(255,255,255,0) 70%,
      rgba(255,255,255,0) 80%,
      rgba(255,255,255,0.5) 80%,
      rgba(255,255,255,0.5) 90%,
      rgba(255,255,255,0) 90%,
      rgba(255,255,255,0) 100%
    ),
    linear-gradient(0, 
      rgba(255,255,255,0.5) 0%,
      rgba(255,255,255,0.5) 10%,
      rgba(255,255,255,0) 10%,
      rgba(255,255,255,0) 20%,
      rgba(255,255,255,0.5) 20%,
      rgba(255,255,255,0.5) 30%,
      rgba(255,255,255,0) 30%,
      rgba(255,255,255,0) 40%,
      rgba(255,255,255,0.5) 40%,
      rgba(255,255,255,0.5) 50%,
      rgba(255,255,255,0) 50%,
      rgba(255,255,255,0) 60%,
      rgba(255,255,255,0.5) 60%,
      rgba(255,255,255,0.5) 70%,
      rgba(255,255,255,0) 70%,
      rgba(255,255,255,0) 80%,
      rgba(255,255,255,0.5) 80%,
      rgba(255,255,255,0.5) 90%,
      rgba(255,255,255,0) 90%,
      rgba(255,255,255,0) 100%
    );
  background-size: 20em 20em;
	background-position: 50% 50%;
}">

<!-- source: http://codepen.io/bboyle/pen/othDu -->
<p class="navbar-text center">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
  </body>
</html>
